body{
font-family:Arial;
background:#f0f8ff;
text-align:center;
margin:0;
}

.top-buttons{
width:90%;
margin:20px auto;
text-align:left;
}

.dash-btn{
padding:10px 15px;
background:#6a5acd;
color:white;
text-decoration:none;
border-radius:5px;
}

.dash-btn:hover{
background:#5848c2;
}

.profile-box{
background:white;
width:400px;
margin:30px auto;
padding:30px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

form{
display:flex;
flex-direction:column;
}

input,select{
padding:10px;
margin-top:10px;
border:1px solid #ccc;
border-radius:5px;
}

button{
margin-top:20px;
padding:10px;
background:#87cefa;
border:none;
color:white;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#4db8ff;
}

.img-box img{
width:120px;
height:120px;
border-radius:50%;
object-fit:cover;
border:3px solid #87cefa;
}