
body{
font-family:Arial;
background:#f0f8ff;
text-align:center;
}

.profile-box{
background:white;
width:400px;
margin:30px auto;
padding:30px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

form{
display:flex;
flex-direction:column;
}

label{
text-align:left;
margin-top:10px;
font-weight:bold;
}

input,select{
padding:10px;
margin-top:5px;
border:1px solid #ccc;
border-radius:5px;
}

button{
margin-top:20px;
padding:10px;
background:#87cefa;
border:none;
color:white;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#4db8ff;
}

/* Image */

.img-box{
text-align:center;
margin-bottom:20px;
}

.img-box img{
width:120px;
height:120px;
border-radius:50%;
object-fit:cover;
border:3px solid #87cefa;
}

.img-box input{
margin-top:10px;
}